name: Laravel CI/CD

on:
  push:
    branches:
      - main

jobs:
  laravel-ci:
    runs-on: ubuntu-latest
    steps:
      # 1️⃣ Checkout code in Actions runner
      - uses: actions/checkout@v4

      # 2️⃣ Setup PHP
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4

      # 3️⃣ Install dependencies and prepare Laravel
      - run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - run: composer install --no-interaction --prefer-dist
      - run: php artisan key:generate
      - run: php artisan config:clear

  deploy:
    needs: laravel-ci
    runs-on: ubuntu-latest
    steps:
      # 1️⃣ Setup SSH to your server
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      # 2️⃣ Deploy commands
      - name: Deploy to Server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.DEPLOY_KEY }}
          port: 22
          script: |
            set -e
            echo "== GO TO PROJECT =="
            cd /var/www/SmartRegistration_backend

            echo "== GIT PULL latest code as ubuntu =="
            git reset --hard
            git pull origin main

            echo "== CLEAN VENDOR =="
            rm -rf vendor

            echo "== COMPOSER INSTALL as www-data =="
            sudo -u www-data composer install --no-dev --optimize-autoloader --no-interaction

            echo "== ENV CHECK =="
            if [ ! -f .env ]; then
              sudo -u www-data cp .env.example .env
              sudo -u www-data php artisan key:generate
            fi

            echo "== LARAVEL OPTIMIZE =="
            sudo -u www-data php artisan migrate --force
            sudo -u www-data php artisan config:clear
            sudo -u www-data php artisan cache:clear
            sudo -u www-data php artisan route:clear
            sudo -u www-data php artisan route:cache
            sudo -u www-data php artisan view:clear
            sudo -u www-data php artisan view:cache

            echo "== RELOAD NGINX =="
            sudo systemctl reload nginx

            echo "== DEPLOY DONE =="
