name: Laravel Deploy (Production)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.DEPLOY_KEY }}
          port: 22
          debug: true
          script: |
            set -e

            echo "== USER =="
            whoami

            echo "== SAFE DIRECTORY =="
            git config --global --add safe.directory /var/www/SmartRegistration_backend

            echo "== GO TO PROJECT =="
            cd /var/www/SmartRegistration_backend

            echo "== GIT SYNC =="
            git pull origin main
            git reset --hard origin/main

            echo "== CLEAN VENDOR =="
            rm -rf vendor

            echo "== COMPOSER INSTALL =="
            composer install --no-dev --optimize-autoloader --no-interaction

            echo "== ENV CHECK =="
            if [ ! -f .env ]; then
              cp .env.example .env
              php artisan key:generate
            fi

            echo "== PERMISSIONS =="
            sudo chown -R www-data:www-data storage bootstrap/cache
            sudo chmod -R 775 storage bootstrap/cache
            sudo chown www-data:www-data .env
            sudo chmod 664 .env

            echo "== LARAVEL OPTIMIZE =="
            php artisan migrate --force
            php artisan config:clear
            php artisan config:cache
            php artisan route:clear
            php artisan route:cache
            php artisan view:clear
            php artisan view:cache

            echo "== RELOAD SERVICES ==" 
            sudo systemctl reload nginx

            echo "== DEPLOY DONE =="

